<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="RandomCountry - Another example application for CountriesNow API">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&amp;display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/style.scss">
  <script src="https://unpkg.com/vue@next"></script>
  <script src="./scripts/app.js" defer></script>
  <title>Random Countries</title>
</head>
<body>
  <div id="app">
    <h2>{{ appName }}</h2>
    <p class="description">{{ details }}</p>

    <div class="content">
      <div class="content__counter">
        <h1>
          {{ counter }}
        </h1>
        <span v-if="isChanging" class="content__counter-green"></span>
      </div>
      <div class="content__card" v-if="selectedCountry">
        <span class="content__card-flag">
          {{ selectedCountry.unicodeFlag }}
        </span>
        {{selectedCountry.name}}
      </div>
    </div>
  </div>
</body>
</html>
